<!DOCTYPE html>
<html>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
    <h1>Welcome to VideoGallery App, <%= @user.user_name %></h1>
    <p >
        You have successfully <span class="text-danger"> delete </span> your video from your account.

    </p>
</body>

</html>